[submodule "Dynare.jl"]
	path = Dynare.jl
	url = https://github.com/NormannR/Dynare.jl.git
	branch = sparsegrids
	ignore = dirty

[submodule "Tasmanian.jl"]
	path = Tasmanian.jl
	url = https://github.com/NormannR/Tasmanian.jl.git
	branch = v8
	ignore = dirty